<p>Olá, {{ name }}.</p>
<p>Seu código para acesso no app Mercado Justo é: {{ token }}</p>

<p>Volte para o app e insira o código. O código expira em 5 minutos.</p>
<p>Se você não solicitou este email, favor ignorar.</p>
