<p>Olá, {{ name }}.</p>
<p>Por favor, clique no link abaixo para recuperar a sua senha:</p>
<p>
  <a href="{{ url }}">Recuperar</a>
</p>
<p>Ou entre com seu e-email e o seguinte token: {{ token }}</p>

<p>Se você não solicitou este email, favor ignorar.</p>
